.expenseLabel {
    margin-bottom: 10px;
}

.blankColumn {
    width: 10px;
}

select, input {
    width: 150px;
}

.numb {
    width: 30px;
    text-align: center;
}

.spentAmount {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

th {
    border: 2pt solid black;
    background-color: black;
    color: white;
}

/* td {
    border: 1pt solid black;
} */

.balance {
    font-size: 20px;
}

.content {
    margin-left: 20px;
}

.pieChart {
    width: 80%;
    height: 80%;
    max-width: 300px;
    max-height: 300px;
}

.expTableRow1 {
    background-color: rgba(55, 255, 132, 0.6);
}

.expTableRow2 {
    background-color: rgba(54, 162, 235, 0.6);
}

.expTableRow3 {
    background-color: rgba(255, 159, 64, 0.6);
}

.expTableRow4 {
    background-color: rgba(255, 0, 0, 0.6);
}

.expTableRow5 {
    background-color: rgba(40, 260, 23, 0.6);
}

.expTableRow6 {
    background-color: rgba(255, 260, 64, 0.6);
}

.expTableRow7 {
    background-color: rgba(15, 15, 15, 0.6);
    color: white;
}

.expTableRow8 {
    background-color: rgba(255, 100, 64, 0.6);
}

.expTableRow9 {
    background-color: rgba(0, 0, 255, 0.6);
}